modules = ["nodejs-20", "python-3.12", "postgresql-16"]
run = "python app.py"

[nix]
channel = "stable-25_05"
packages = ["cargo", "libiconv", "openssl", "postgresql", "rustc"]

[deployment]
run = ["sh", "-c", "python app.py"]

[workflows]
runButton = "Start Frontend"

[[workflows.workflow]]
name = "Start Frontend"
author = 40480464
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Start Backend"
author = 40480464
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py --reset"

[[workflows.workflow]]
name = "Reset and Start Backend"
author = 40480464
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py --reset"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 5000
